@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
.gradient_background {
  width: 100%;
  height: 2286px;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.gradient_shadow {
  width: calc(100% - 40px);
  height: 10px;
  margin-left: 20px;
  background: #CACADB;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.gradient_shadow_two {
  width: calc(100% - 80px);
  height: 10px;
  margin-left: 40px;
  background: #E7E7F2;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.header {
  width: 100%;
  height: 116px;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  width: 1920px;
  max-height: 100%;
  height: 116px;
}

.symbol-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 46%;
  margin-top: -120px;
}

.logo {
  margin: 50px 0 0 160px;
}
.logo svg {
  width: 130px;
  height: 60px;
}

.right-side-container {
  width: 478px;
  height: 66px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px 160px 0 0;
}

.right-side-container-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 478px;
  height: 25px;
}
.right-side-container-info .a_one {
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 100%;
  width: auto;
  text-decoration: none;
  font-size: 16px;
  color: #FFFFFF;
}
.right-side-container-info .a_two {
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 100%;
  width: auto;
  text-decoration: none;
  font-size: 16px;
  color: #FFFFFF;
}

.lang-switch {
  display: flex;
  background-color: transparent;
  row-gap: 14px;
}

.lang-switch input[type=radio] {
  display: none;
}

.lang-switch label {
  width: 33px;
  height: 25px;
  color: #FFFFFF;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 100%;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
  text-align: center;
  padding-top: 6px;
  box-sizing: border-box;
}

.lang-switch input[type=radio]:checked + label {
  width: 33px;
  height: 25px;
  background-color: #F0145A;
  color: white;
}

.right-side-container-title-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 416px;
  height: 25px;
  margin-left: 62px;
}
.right-side-container-title-link a {
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 100%;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
  width: auto;
}

.symbol-h {
  position: absolute;
  top: 0;
  width: 100vh;
  height: 100%;
  z-index: 1;
}

.text-on-symbol {
  position: absolute;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 100%;
  font-size: 38px;
  top: 50%;
  transform: translateY(-50%);
  color: #FFFFFF;
  z-index: 2;
}

.scroll {
  position: absolute;
  bottom: 16%;
  left: 50%;
  z-index: 2;
  cursor: pointer;
}

.scroll:hover {
  stroke: #F0145A;
}

.experience {
  width: 100%;
  height: 303px;
  margin: 60px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.experience .box_one {
  display: flex;
  flex-direction: column;
  margin: 14.5px 60px 0 0;
  width: 375px;
  height: 274px;
  align-items: center;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 100%;
}
.experience .box_one ul {
  padding: 6px 0 0 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 59px;
  text-align: right;
}
.experience .box_one li {
  color: #B3B3BA;
  font-size: 38px;
  width: 375px;
}
.experience .box_one li:hover {
  color: #F0145A;
}
.experience .box_one .li-color {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px 0 6px 0;
  box-sizing: border-box;
}
.experience .box_two {
  margin: 73px 0 73px 60px;
  color: #FFFFFF;
  width: 861px;
  height: 157px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}
.experience .box_two .box_text_one {
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 100%;
  font-size: 30px;
}
.experience .box_two .box_text_two {
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 100%;
  font-size: 19px;
  line-height: 30px;
}

.line-separator {
  width: 4px;
  height: 303px;
  background: rgba(255, 255, 255, 0.3019607843);
}

.grid {
  width: 100%;
  height: 783px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-grid-container {
  max-width: 100%;
  max-height: 100%;
  width: 1600px;
  height: 783px;
}

.section-grid-container-service-btn {
  text-align: left;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 100%;
  font-size: 14px;
  letter-spacing: 1px;
  color: #24A3FF;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.section-grid-container-service-btn svg {
  width: 12px;
  height: 12px;
  margin: 0 0 0 5px;
  stroke: #24A3FF;
  transition: fill 0.3s ease, transform 0.3s ease;
}

.section-grid-container-service-btn:hover {
  color: #F0145A;
}
.section-grid-container-service-btn:hover svg {
  stroke: #F0145A;
  transform: translateX(3px);
}

.section-grid-container-service-btn:active {
  animation-duration: 0ms;
}

.section-grid-container-text {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 10px 0 60px 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 100%;
  font-size: 38px;
}

.grid-container {
  display: grid;
  gap: 60px;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
}

.grid-item {
  max-width: 100%;
  max-height: 100%;
  width: 493.33px;
  height: 295px;
}
.grid-item svg {
  width: 92px;
  height: 92px;
}
.grid-item .item_text_one {
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 100%;
  font-size: 22px;
  line-height: 26px;
  color: #24A3FF;
  margin: 30px 0 0 0;
}
.grid-item .item_text_two {
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 100%;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 15px 0 0 0;
}

.team {
  width: 100%;
  height: 344px;
  background: #24A3FF;
  margin-top: 60px;
}

/*# sourceMappingURL=style.css.map */
