@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
.gradient_background {
  width: 100%;
  height: 2300px;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 0 60px 60px 60px;
  box-sizing: border-box;
}

@media screen and (max-width: 1440px) {
  .gradient_background {
    height: 2386px;
  }
}
@media screen and (max-width: 1232px) {
  .gradient_background {
    height: 2526px;
  }
}
@media screen and (max-width: 1036px) {
  .gradient_background {
    height: 2627px;
  }
}
@media screen and (max-width: 1024px) {
  .gradient_background {
    height: 2674px;
  }
}
@media screen and (max-width: 1016px) {
  .gradient_background {
    height: 3071px;
  }
}
@media screen and (max-width: 866px) {
  .gradient_background {
    height: 3173px;
  }
}
@media screen and (max-width: 856px) {
  .gradient_background {
    height: 3183px;
  }
}
@media screen and (max-width: 846px) {
  .gradient_background {
    height: 3258px;
  }
}
@media screen and (max-width: 646px) {
  .gradient_background {
    height: 3973px;
  }
}
@media screen and (max-width: 598px) {
  .gradient_background {
    height: 4100px;
  }
}
@media screen and (max-width: 513px) {
  .gradient_background {
    height: 4382px;
  }
}
@media screen and (max-width: 463px) {
  .gradient_background {
    height: 4488px;
  }
}
@media screen and (max-width: 458px) {
  .gradient_background {
    height: 4618px;
  }
}
@media screen and (max-width: 407px) {
  .gradient_background {
    height: 4759px;
  }
}
@media screen and (max-width: 391px) {
  .gradient_background {
    height: 4920px;
  }
}
@media screen and (max-width: 379px) {
  .gradient_background {
    height: 5016px;
  }
}
@media screen and (max-width: 375px) {
  .gradient_background {
    height: 4109px;
  }
}
.gradient_shadow {
  width: calc(100% - 40px);
  height: 10px;
  margin-left: 20px;
  background: #CACADB;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.gradient_shadow_two {
  width: calc(100% - 80px);
  height: 10px;
  margin-left: 40px;
  background: #E7E7F2;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.header {
  width: 100%;
  height: 116px;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  width: 1600px;
  max-height: 100%;
  height: 116px;
}

.symbol-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 46%;
  margin-top: -120px;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .symbol-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 40%;
    margin-top: -326px;
    overflow-y: auto;
  }
}
@media screen and (max-width: 646px) {
  .symbol-container {
    height: 36%;
  }
}
@media screen and (max-width: 375px) {
  .symbol-container {
    height: 18%;
    margin-top: -243px;
  }
}
.scroll {
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  margin: 50px 0 0 0;
}
.logo svg {
  width: 130px;
  height: 60px;
}

.right-side-container {
  width: 478px;
  height: 66px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px 0 0 0;
}

.right-side-container-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 478px;
  height: 25px;
}
.right-side-container-info .a_one {
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 100%;
  width: auto;
  text-decoration: none;
  font-size: 16px;
  color: #FFFFFF;
}
.right-side-container-info .a_two {
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 100%;
  width: auto;
  text-decoration: none;
  font-size: 16px;
  color: #FFFFFF;
}

.lang-switch {
  display: flex;
  background-color: transparent;
  row-gap: 14px;
}

.lang-switch input[type=radio] {
  display: none;
}

.social-icon {
  fill: white;
}

.social-icon:hover {
  fill: #F0145A;
}

.lang-switch label {
  width: 33px;
  height: 25px;
  color: #FFFFFF;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 100%;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
  text-align: center;
  padding-top: 6px;
  box-sizing: border-box;
}

.lang-switch label:hover {
  background: rgba(255, 255, 255, 0.2);
}

.lang-switch input[type=radio]:checked + label {
  width: 33px;
  height: 25px;
  background-color: #F0145A;
  color: white;
}

.right-side-container-title-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 416px;
  height: 25px;
  margin-left: 62px;
}
.right-side-container-title-link a {
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 100%;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
  width: auto;
}
.right-side-container-title-link a:hover {
  border-bottom: 2px solid #FFFFFF;
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    height: 170px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .header-container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: 1600px;
    max-height: 100%;
    height: 170px;
    justify-content: left;
  }
  .logo {
    margin: 50px 0 0 0;
  }
  .logo svg {
    width: 130px;
    height: 60px;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  .logo svg {
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .right-side-container {
    width: 478px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 -131px;
  }
  .right-side-container-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 478px;
    height: 25px;
  }
  .right-side-container-info .a_one {
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 100%;
    width: auto;
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
  }
  .right-side-container-info .a_two {
    font-family: "Montserrat";
    font-weight: 700;
    line-height: 100%;
    width: auto;
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
  }
  .lang-switch {
    display: flex;
    background-color: transparent;
    row-gap: 14px;
  }
  .lang-switch input[type=radio] {
    display: none;
  }
  .lang-switch label {
    width: 33px;
    height: 25px;
    color: #FFFFFF;
    font-family: "Montserrat";
    font-weight: 700;
    line-height: 100%;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
    text-align: center;
    padding-top: 6px;
    box-sizing: border-box;
  }
  .lang-switch input[type=radio]:checked + label {
    width: 33px;
    height: 25px;
    background-color: #F0145A;
    color: white;
  }
  .right-side-container-title-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }
  .right-side-container-title-link a {
    font-family: "Montserrat";
    font-weight: 700;
    line-height: 100%;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    width: auto;
  }
}
.symbol-h {
  position: absolute;
  top: 0;
  width: 100vh;
  height: 100%;
  z-index: 1;
}

.text-on-symbol {
  position: absolute;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 100%;
  font-size: 38px;
  top: 50%;
  transform: translateY(-50%);
  color: #FFFFFF;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .symbol-h {
    display: flex;
  }
}
@media screen and (max-width: 375px) {
  .text-on-symbol {
    width: min-content;
  }
}
.scroll {
  position: absolute;
  bottom: 16%;
  left: 50%;
  z-index: 2;
  cursor: pointer;
}

.scroll:hover {
  stroke: #F0145A;
}

.experience {
  width: 100%;
  height: 303px;
  margin: 60px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.experience .box_one {
  display: flex;
  flex-direction: column;
  margin: 0 60px 0 0;
  width: 375px;
  height: 274px;
  align-items: center;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 100%;
}
.experience .box_one ul {
  padding: 6px 0 0 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 59px;
  text-align: right;
}
.experience .box_one li {
  color: #B3B3BA;
  font-size: 38px;
  width: 375px;
}
.experience .box_one li:hover {
  color: #F0145A;
}
.experience .box_one .li-color {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px 0 6px 0;
  box-sizing: border-box;
}
.experience .box_two {
  margin: 0 0 0 60px;
  color: #FFFFFF;
  width: 861px;
  min-height: 157px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}
.experience .box_two .box_text_one {
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 100%;
  font-size: 30px;
  line-height: 32px;
  margin: 0 0 30px 0;
}
.experience .box_two .box_text_two {
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 100%;
  font-size: 19px;
  line-height: 30px;
}

.line-separator {
  width: 4px;
  height: 303px;
  background: rgba(255, 255, 255, 0.3019607843);
}

@media screen and (max-width: 1016px) {
  .experience {
    min-height: 357px;
    flex-direction: column;
  }
  .experience .box_one {
    flex-direction: row;
    margin: 0 0 60px 0;
    width: 100%;
    height: 46px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
  }
  .experience .box_one ul {
    flex-direction: row;
    gap: 30px;
    text-align: left;
  }
  .experience .box_one li {
    font-size: 38px;
    width: max-content;
  }
  .experience .box_one li:hover {
    color: #F0145A;
  }
  .experience .box_one .li-color {
    margin-top: -9px;
    width: auto;
  }
  .experience .box_two {
    margin: 60px 0 0 0;
    color: #FFFFFF;
    width: 100%;
    min-height: 157px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
  }
  .experience .box_two .box_text_one {
    font-family: "Montserrat";
    font-weight: 700;
    line-height: 100%;
    font-size: 30px;
    line-height: 32px;
    margin: 0 0 30px 0;
  }
  .experience .box_two .box_text_two {
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 100%;
    font-size: 19px;
    line-height: 30px;
  }
}
@media screen and (max-width: 1016px) and (max-width: 646px) {
  .experience {
    min-height: 383px;
  }
}
@media screen and (max-width: 1016px) and (max-width: 624px) {
  .experience {
    min-height: 439px;
  }
}
@media screen and (max-width: 1016px) and (max-width: 518px) {
  .experience {
    min-height: 471px;
  }
}
@media screen and (max-width: 1016px) and (max-width: 496px) {
  .experience {
    min-height: 501px;
  }
}
@media screen and (max-width: 1016px) and (max-width: 419px) {
  .experience {
    min-height: 529px;
  }
}
@media screen and (max-width: 1016px) and (max-width: 383px) {
  .experience {
    min-height: 593px;
  }
}
@media screen and (max-width: 1016px) and (max-width: 375px) {
  .experience {
    min-height: 622px;
  }
}
@media screen and (max-width: 1016px) {
  .line-separator {
    width: 100%;
    height: 4px;
    background: rgba(255, 255, 255, 0.3019607843);
  }
}
.grid {
  width: 100%;
  min-height: 783px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-grid-container {
  max-width: 100%;
  width: 1600px;
  height: 100%;
  margin: 0 0 60px 0;
}

.animation-btn {
  text-align: left;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 100%;
  font-size: 14px;
  letter-spacing: 1px;
  color: #24A3FF;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.animation-btn svg {
  width: 12px;
  height: 12px;
  margin: 0 0 0 5px;
  stroke: #24A3FF;
  transition: fill 0.3s ease, transform 0.3s ease;
}

.animation-btn:hover {
  color: #F0145A;
}
.animation-btn:hover svg {
  stroke: #F0145A;
  transform: translateX(3px);
}

.animation-btn:active {
  animation-duration: 0ms;
}

.section-grid-container-text {
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 100%;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 10px 0 0 0;
  font-size: 38px;
}

.grid-container {
  display: grid;
  gap: 60px;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
}

.grid-item {
  max-width: 100%;
  width: 493.33px;
  min-height: 295px;
}
.grid-item svg {
  width: 92px;
  height: 92px;
}
.grid-item .item_text_one {
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 100%;
  font-size: 22px;
  line-height: 26px;
  color: #24A3FF;
  margin: 30px 0 0 0;
}
.grid-item .item_text_two {
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 100%;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 15px 0 0 0;
}

@media screen and (max-width: 1016px) {
  .grid-container {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
  }
  .grid-item {
    width: auto;
  }
  .grid-item svg {
    display: flex;
  }
}
@media screen and (max-width: 646px) {
  .grid-container {
    grid-template-columns: repeat(1, minmax(auto, 1fr));
  }
}
.team {
  width: 100%;
  min-height: 344px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 60px 0 60px;
  box-sizing: border-box;
}

.slider-container {
  max-width: 100%;
  width: 1600px;
  min-height: 314px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide {
  overflow: hidden;
  max-width: 100%;
  width: 1600px;
  min-height: 298px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #F5F5FA;
  margin-bottom: 30px;
}

.slide-photo-container {
  display: flex;
  width: 400px;
  height: 298px;
}
.slide-photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

@media screen and (max-width: 1517px) {
  .slide-photo-container {
    height: 345px;
  }
}
@media screen and (max-width: 1400px) {
  .slide-photo-container {
    height: 392px;
  }
}
@media screen and (max-width: 1184px) {
  .slide-photo-container {
    height: 439px;
  }
}
@media screen and (max-width: 1086px) {
  .slide-photo-container {
    height: 486px;
  }
}
@media screen and (max-width: 1040px) {
  .slide-photo-container {
    height: 533px;
  }
}
.slide-info-container {
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 400px);
  min-height: 298px;
  padding: 30px;
  box-sizing: border-box;
  gap: 30px;
}

.hi-info-slide {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 1140px;
  min-height: 160px;
  gap: 5px;
}
.hi-info-slide .info_text {
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 100%;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 38px;
  line-height: 47px;
  min-height: 141px;
}

.lo-info-slide {
  max-width: 100%;
  width: 1140px;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 6px;
}
.lo-info-slide .name {
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 100%;
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
}
.lo-info-slide .position {
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 100%;
  font-size: 14px;
  line-height: 22px;
  color: #B3B3BA;
}

@media screen and (max-width: 987px) {
  .slide {
    flex-direction: column;
  }
  .slide-photo-container {
    width: 100%;
    height: 500px;
  }
  .slide-info-container {
    max-width: 100%;
  }
}
@media screen and (max-width: 987px) {
  .team {
    padding: 0 30px;
  }
  .slide-info-container {
    overflow-wrap: break-word;
  }
  .hi-info-slide .info_text {
    font-size: 30px;
    line-height: 39px;
  }
}
.paginator {
  width: 78px;
  height: 16px;
  margin-top: 30px;
  background: #90efe1;
}

.clients {
  margin-top: 60px;
  width: 100%;
  min-height: 407px;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 100%;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clients-grid {
  overflow: hidden;
  max-width: 100%;
  width: 1720px;
  min-height: 360px;
  display: grid;
  grid-template-columns: repeat(4, minmax(256px, 430px));
  border-radius: 12px;
}
.clients-grid .clients-grid-item {
  max-width: 100%;
  max-height: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1719px) {
  .clients-grid {
    border-radius: 0;
  }
}
@media screen and (max-width: 1023px) {
  .clients-grid {
    grid-template-columns: repeat(3, minmax(228px, 430px));
  }
}
@media screen and (max-width: 720px) {
  .clients-grid {
    grid-template-columns: repeat(1, minmax(228px, 720px));
  }
  .clients-grid > *:nth-child(n+7) {
    display: none;
  }
}
.footer {
  max-width: 100%;
  min-height: 674px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F5F5FA;
  margin: 60px 0 0 0;
  padding: 30px 60px;
}

.footer_container {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 100%;
  width: 1600px;
  min-height: 674px;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  width: 525px;
  gap: 10px;
}
.heading .heading_text {
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 100%;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 38px;
  line-height: 45px;
}

.footer_container_grid {
  max-width: 100%;
  width: 1600px;
  min-height: 430px;
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(281.33px, 513.33px));
  gap: 30px;
}

.footer_container_grid_item {
  border-radius: 8px;
  background: #FFFFFF;
  overflow: hidden;
}
.footer_container_grid_item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center center;
}
.footer_container_grid_item h4 {
  max-width: 453px;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 100%;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
  padding: 30px 30px 0 30px;
}
.footer_container_grid_item .data {
  max-width: 453px;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 100%;
  font-size: 12px;
  letter-spacing: 1px;
  color: #B3B3BA;
  padding: 15px 30px 0 30px;
}
.footer_container_grid_item .separator {
  max-width: 100%;
  height: 4px;
  background: #E6E6F0;
  margin: 15px 30px 0 30px;
}
.footer_container_grid_item p {
  max-width: 100%;
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 100%;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  padding: 15px 30px 30px 30px;
}

@media screen and (max-width: 1023px) {
  .footer_container_grid {
    grid-template-columns: repeat(2, minmax(140px, 1fr));
  }
  .footer_container_grid_item:nth-child(3) {
    grid-column: span 2;
  }
}
@media screen and (max-width: 720px) {
  .footer_container_grid {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 30px 0;
  }
  .footer_container_grid_item {
    max-width: 100%;
  }
  .footer_container_grid_item:nth-child(3) {
    grid-column: auto;
  }
  .footer {
    padding: 30px;
  }
  .heading {
    gap: 5px;
  }
  .heading .heading_text {
    font-size: 30px;
    line-height: 37px;
  }
}
.footer_separator {
  max-width: 100%;
  max-height: 100%;
  width: 1600px;
  height: 2px;
  background: #E6E6F0;
}

.footer_container_info {
  max-width: 100%;
  width: 1600px;
  height: 79px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 0 0 0;
}

.footer_container_info_left {
  width: 398px;
  height: 79px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer_container_info_right {
  width: 276px;
  height: 79px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 100%;
  font-size: 16px;
  color: #B3B3BA;
  margin: 0 0 0 -36px;
}

.footer_container_info_hi {
  width: 281px;
  min-height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 100%;
  font-size: 16px;
  color: #323264;
}
.footer_container_info_hi a {
  color: #24A3FF;
  font-size: 12px;
  text-decoration: none;
  font-weight: 700;
  line-height: 100%;
}
.footer_container_info_hi svg {
  margin: 0 10px 2px 10px;
}

.footer_container_info_lo {
  max-width: 398px;
  min-height: 38px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 100%;
  font-size: 16px;
}
.footer_container_info_lo .text_tel {
  color: #46466E;
  text-decoration: none;
}
.footer_container_info_lo .text_email {
  color: #24A3FF;
  text-decoration: none;
}
.footer_container_info_lo .text_email:hover {
  color: #F0145A;
}

@media screen and (max-width: 767px) {
  .footer_container_info {
    height: 199px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .footer_container_info_left {
    align-items: center;
    height: 153px;
  }
  .footer_container_info_right {
    margin: 0;
    height: 16px;
    align-items: center;
  }
  .footer_container_info_hi {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .footer_container_info_lo {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  svg {
    display: none;
  }
}
.slick-dots li {
  width: 16px;
  height: 16px;
}

.slick-dots li button {
  font-size: 16px;
  background: #24A3FF;
  border-radius: 50%;
}

.slick-dots li button:before {
  font-size: 16px;
  background: #24A3FF;
  border-radius: 50%;
  content: "" !important;
}

/*# sourceMappingURL=style.css.map */
